.app-page-header {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.app-page-btn {
  width: 125px;
  height: 125px;
  font-weight: 600;
  border-radius: 14px;
}

.app-page-content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
